*.mdf
*.ldf
TeamKismetMathGame/TeamKismetMathGame/bin/TeamKismetMathGame.dll
TeamKismetMathGame/TeamKismetMathGame/App_Data/Kismet_Info.mdf
TeamKismetMathGame/.vs/TeamKismetMathGame/v15/.suo
TeamKismetMathGame/TeamKismetMathGame/App_Data/Kismet_Info.mdf
TeamKismetMathGame/TeamKismetMathGame/App_Data/Kismet_Info_log.ldf
TeamKismetMathGame/.vs/TeamKismetMathGame/v15/.suo
TeamKismetMathGame/TeamKismetMathGame/Views/Web.config~HEAD
TeamKismetMathGame/TeamKismetMathGame/Views/Web.config~refs_remotes_origin_HaakonBranch
TeamKismetMathGame/TeamKismetMathGame/Web.config~HEAD
TeamKismetMathGame/TeamKismetMathGame/TeamKismetMathGame.csproj~HEAD
TeamKismetMathGame/TeamKismetMathGame/TeamKismetMathGame.csproj.user~refs_remotes_origin_HaakonBranch
*.eot~HEAD
*.ttf~refs_remotes_origin_HaakonBranch