*.mdf
*.ldf
*.eot~HEAD
*.ttf~refs_remotes_origin_HaakonBranch
MathGameBIT286/*
TeamKismetMathGame/TeamKismetMathGame/bin/TeamKismetMathGame.dll
TeamKismetMathGame/TeamKismetMathGame/App_Data/Kismet_Info.mdf
TeamKismetMathGame/TeamKismetMathGame/App_Data/Kismet_Info.mdf
TeamKismetMathGame/TeamKismetMathGame/App_Data/Kismet_Info_log.ldf
