@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>1st Grade Simulator 2017</h1>
    <p class="lead">1st Grade Simulator 2017 is a math application designed to help young elementry school students addition and subtraction.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Student Login</h2>
        <p>
            If you are looking to go to the student login click the link bellow or the one in the navigation up top.
        </p>
        <p><a class="btn btn-default" href="http://teamkismetmathgame.azurewebsites.net/Home/StudentLogin">Teacher Login Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teacher Login</h2>
        <p>If you are a teacher you can login from the link listed bellow.</p>
        <p><a class="btn btn-default" href="http://teamkismetmathgame.azurewebsites.net/Home/TeacherLogin">Student Login Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More about this application</h2>
        <p>If you want to learn more about this application you can click this link.</p>
        <p><a class="btn btn-default" href="http://teamkismetmathgame.azurewebsites.net/Home/About">Learn more &raquo;</a></p>
    </div>
</div>