<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9dfc86ef-d416-4067-96dc-a5c436adc193/resourcegroups/TeamKismetMathGameResources/providers/Microsoft.Web/sites/TeamKismetMathGame</ResourceId>
    <ResourceGroup>TeamKismetMathGameResources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://teamkismetmathgame.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>teamkismetmathgame.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TeamKismetMathGame</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TeamKismetMathGame</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Kismet_InfoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Haakon Jakobson\Documents\BIT 286\MathGame\TeamKismetMathGame\TeamKismetMathGame\App_Data\Kismet_Info.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TeamKismetMathGame.Models.Kismet_InfoEntities, TeamKismetMathGame" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Kismet_InfoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ClassManagementModel.csdl|res://*/Models.ClassManagementModel.ssdl|res://*/Models.ClassManagementModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Haakon Jakobson\Documents\BIT 286\MathGame\TeamKismetMathGame\TeamKismetMathGame\App_Data\Kismet_Info.mdf";Integrated Security=True;Connect Timeout=30'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Kismet_InfoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ClassManagementModel.csdl|res://*/Models.ClassManagementModel.ssdl|res://*/Models.ClassManagementModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Haakon Jakobson\Documents\BIT 286\MathGame\TeamKismetMathGame\TeamKismetMathGame\App_Data\Kismet_Info.mdf";Integrated Security=True;Connect Timeout=30'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Kismet_InfoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ClassManagementModel.csdl|res://*/Models.ClassManagementModel.ssdl|res://*/Models.ClassManagementModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Haakon Jakobson\Documents\BIT 286\MathGame\TeamKismetMathGame\TeamKismetMathGame\App_Data\Kismet_Info.mdf";Integrated Security=True;Connect Timeout=30'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Kismet_InfoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ClassManagementModel.csdl|res://*/Models.ClassManagementModel.ssdl|res://*/Models.ClassManagementModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Haakon Jakobson\Documents\BIT 286\MathGame\TeamKismetMathGame\TeamKismetMathGame\App_Data\Kismet_Info.mdf";Integrated Security=True;Connect Timeout=30'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>